<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="data:image/jpeg;base64, <%=img%>">
    <img src="http://cfile9.uf.tistory.com/image/227A6E3553A823C724F802">

  </body>
</html>
