<%- include layout.ejs %>

	<html>

	<body>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>회원가입</h1>
			</div>
		</div>
		<div class="form-group row">
			<label for="example-text-input" class="col-xs-2 col-form-label">ID</label>
			<div class="col-xs-10">
				<input class="form-control" type="text" value="KFC할아버지손자" id="id">
			</div>
		</div>
		<form action="/">
			<div class="form-group row">
				<label for="example-search-input" class="col-xs-2 col-form-label">Password</label>
				<div class="col-xs-10">
					<input class="form-control" type="password" value="********" id="password">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-email-input" class="col-xs-2 col-form-label">재료목록</label>
				<div class="col-xs-10">
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 쌀
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 김치
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 계란
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox4" value="option4"> 양파
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox5" value="option5"> 파
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox6" value="option6"> 닭고기
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox7" value="option7"> 돼지고기
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox8" value="option8"> 고추가루
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox9" value="option9"> 떡
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 간장
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 소금
          </label>
					<label class="checkbox-inline" style="margin-left:0">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 식초
          </label>
				</div>
			</div>
			<div class="form-group row">
				<label for="example-tel-input" class="col-xs-2 col-form-label">내가 쓴 글</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" value="바삭바삭 후라이드치킨" id="upload">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-password-input" class="col-xs-2 col-form-label">추천한 글</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" value="매콤매콤 떡볶이" id="recommended">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-number-input" class="col-xs-2 col-form-label">작성한 댓글 </label>
				<div class="col-xs-10">
					<input class="form-control" type="text" value="완전 맛있는 레시피 감사합니다!!" id="commented">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-datetime-local-input" class="col-xs-2 col-form-label">signUpDate</label>
				<div class="col-xs-10">
					<input class="form-control" type="-local" value="2016-12-11" id="example-datetime-local-input">
				</div>
			</div>
			<div>
				<button type="submit" style="background-color: #5cb85c " class="btn btn-success">confirm</button>
			</div>
			</div>
			</div>
		</form>

		<hr>

		<footer>
			<p>
				<p>
		</footer>
		</div>
		<!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>

	</html>
