<%- include layout.ejs %>

	<html>

	<body>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>회원가입</h1>
			</div>
		</div>
		<form action="/" method='post'>
			<div class="form-group row">
				<label for="signUp-id" class="col-xs-2 col-form-label">ID</label>
				<div class="col-xs-3">
					<input class="form-control" type="text" placeholder="ID" id="signUp-id" name='id'>
				</div>
				<span id='checkDUP' class='col-xs-5' style="font-style: normal;vertical-align:middle;">중복확인을 해주세요</span>
			</div>
			<div class="form-group row">
				<label for="signUp-pw" class="signUp-info col-xs-2 col-form-label">Password</label>
				<div class="col-xs-3">
					<input class="form-control" type="password" placeholder="password" id="signUp-pw" name='password'>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-xs-2 col-form-label">재료목록</label>
				<div class="col-xs-10">
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="쌀" name="box"> 쌀
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="김치" name="box"> 김치
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="계란" name="box"> 계란
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox4" value="양파" name="box"> 양파
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox5" value="파" name="box"> 파
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox6" value="닭고기" name="box"> 닭고기
          </label>
					<br>
					<br>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox7" value="돼지고기" name="box"> 돼지고기
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox8" value="고추가루" name="box"> 고추가루
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox9" value="떡" name="box"> 떡
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="간장" name="box"> 간장
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="소금" name="box"> 소금
          </label>
					<label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="식초" name="box"> 식초
          </label>
				</div>
			</div>
			<div>
				<button type='button' onclick='signUp();' class="btn btn-success">confirm</button>
			</div>
		</form>
		<hr>
		<footer>
			<p>
				<p>
		</footer>
		</div>
	</body>

	</html>
