<%- include layout.ejs %>
<html>
<body>
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="margin-top:30px; height:100vh"class="container">
      <!-- Example row of columns -->

      <!-- 목록(베스트/검색결과) 섹션 -->
			<div class="col">
			<% for(i=0; i<recipes.length; i++){ %>
				<%console.log(i)%>
        <div>
					<span class='col-md-4'>제목: <%=recipes[i].recipeName%></span><br>
					<span class='col-md-4'>작성자: <%=recipes[i].userId%></span>
					<span class='col-md-4'><%recipes[i].date.toDateString()%></span>
          <a style=""class="btn btn-default" href="/recipe/<%=recipes[i].id%>" role="button">View details &raquo;</a>
					<br>
					<hr style="height:10px">
        </div>
				<br>
        <%}%>
      </div>
      <!-- /목록 섹션 -->
	</div>
	<!-- /container -->
</body>

</html>
