<%- include index.ejs %>

    <html>

    <body>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>자취생의 레시피</h1>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->

            <!-- 목록(베스트/검색결과) 섹션 -->
            <div class="row">
                <!-- 목록 타이틀 -->
                <h3>Best Recipe</h3>
                <!-- /목록 타이틀 -->
                <div class="col-md-4">
                    <h2>떡볶이</h2>
                    <p>이미지</p>
                    <p><a class="btn btn-default" href="/recipe_no1" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>김치볶음밥</h2>
                    <p>이미지</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>떡국</h2>
                    <p>이미지</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>
                    <p>
            </footer>
        </div>
        <!-- /container -->
    </body>

    </html>
