body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-info{
  color: white;
}
.login-div{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}
.login-body{
  text-align: center;

}
.checkbox-inline{
  width:10%;
}
